* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

.div {
    margin: 200px auto;
    padding: 100px;
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    animation: div 0.5s linear alternate infinite;
}
@keyframes div {
    100% {
        transform: scale(1.3);
    }
}
.div2 {
    background-color: white;
    position: absolute;
    top: 0;
    right: 17%;
    width: 80px;
    height: 150px;
    padding: 50px 30px;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    transform: rotate(45deg);
    
    
    
}
.div3 {
    background-color: white;
    position: absolute;
    top: 0;
    left: 17%;
    width: 80px;
    height: 150px;
    padding: 50px 30px;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    transform: rotate(-45deg);
    

    
    
}